<div id="tastybackbonepie-table-{{ id }}"></div>

<script type="text/template" id="tastybackbonepie-table-template-{{ id }}">
	<div class="pagination pagination-small">
	  {% include "tastybackbonepie/partials/pagination.html" %}
	</div>
    {% include "tastybackbonepie/partials/alert.html" %}
    <table class="table table-bordered table-striped table-hover">
        {% include "tastybackbonepie/partials/thead.html" %}
        {% include "tastybackbonepie/partials/tfoot.html" %}
        {% include "tastybackbonepie/partials/tbody.html" %}
    </table>
    <div class="pagination pagination-small">
		{% include "tastybackbonepie/partials/pagination.html" %}
	</div>	
</script>